@import url("https://fonts.googleapis.com/css2");
body {
  font-family: "Roboto", sans-serif;
  background: url(https://wallpapercave.com/wp/wp4530320.png);
  background-repeat: no-repeat;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all 0.5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  background: #063146;
  line-height: 70px;
  user-select: none;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
}
ul li:hover a {
  padding-left: 50px;
}
.sidebar ul a i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}
label #btn {
  left: 40px;
  top: 10px;
  font-size: 30px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s ease;

}
label #cancel {
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}

#check:checked ~ section {
  margin-left: 250px;
}
section {
  background: url(../img/computer.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all 0.5s ease;
}
/* drop down */
.dropdown {
  margin: 20 auto;
 
}
nav{
    height: 60px;
    background: #2c3e50;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 1);
    
}

nav ul {
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 20px;
}

nav ul li {
  background: #2c3e50;
  position: relative;
  list-style: none;
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  font-size: 13px;
}

nav ul li a:hover {
  background: #243342;
}

nav ul ul {
  position: absolute;
  top: 60px;
  display: none;
} 
nav ul li:hover > ul {
  display: block;
} 
nav ul ul li{
    width: 130px;
    float: none;
    display: list-item;    
    position: relative;
}
nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
}
/* banner */
 /* banner */
       .banner{
           height: 400px;
           position: relative;
       }
       .banner h1{
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           color: rgb(223, 223, 241);
           position: absolute;
           top: 50%;
           left: 50%;
           font-size: 50px;
           font-style: initial;
           transform: translate(-50%, -50%);
       }
       .banner span{
           color: rgb(55, 133, 156);
       }


#imh {
  border-radius: 90px;
}
  
#ttr {
  color: white;
  
}